html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;   
}

.main{
  background: url(img/background.svg) no-repeat  center ;
}

.content{
  
}
h1 {
  font-size: 1.5rem;
}

a {
  color: rgb(245, 2, 245);
  text-decoration: none;
}